transformers
huggingface-hub
torch
pandas 
numpy
gradio
matplotlib
seaborn
dotenv
spacy
spacy[transformers]
pyvis
scikit-learn
datasets
evaluate
git+https://github.com/huggingface/peft.git
trl
bitsandbytes